@import "../../../styles/variables.scss";

.sizes {
    display: flex;
    flex-direction: column;

    p {
        font-size: 1.125em;
        font-weight: normal;
    }

    &__size-container {
        display: flex;

        &__content {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $latus-color-minimum;
            border-radius: 50px;
            width: 2em;
            height: 2em;
            box-shadow: -2px 2px 4px rgba($color: #000000, $alpha: 0.25);

            &:not(:first-child) {
                margin-left: -0.625em;
            }
    
            p {
                color: $latus-color-maximum;
                font-size: 1.125em;
            }
        }
    }
}