@if (openModal) {
    <section>
        <div>
            <img src="{{ productData.images[0] }}" alt="product">
        </div>
        <div class="modal-content">
            <h1>{{ productData.name }}</h1>
            <p>{{ productData.description }}</p>
            <div>
                <div>
                    <app-product-sizes
                        [sizes]="productData.sizes"
                    ></app-product-sizes>
                </div>
                <div>{{ productData.price }}</div>
            </div>
            <p>Gostou? Entre em contato com a loja.</p>
            <app-redirect-button
                iconRoot="assets/png/whatsapp.png"
            ></app-redirect-button>
        </div>
    </section>
    <div class="overlay" (click)="toggle()"></div>
}