@import "../../../styles.scss";

section {
    background-color: #FFFFFF;
    border-radius: 30px;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: row;

    width: 60vw;
    height: 70vh;

    @include responsive($desktop) {
        width: 78vw;
    }
    @include responsive($laptop) {
        width: 90vw;
    }
    @include responsive(600px) {
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        border-radius: 0px;
    }
    @include responsive($mobile) {
        background-color: purple;
    }

    .modal-images {
        width: 50%;
        background-color: $product-background;
        border-radius: 30px 0 0 30px;
        padding: 2em 2em 4em 2em;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include responsive(600px) {
            width: 100%;
            border-radius: 0px;
        }
        
        &__close-modal {
            img {
                cursor: pointer;
            }
        }

        &__product-image {
            display: flex;
            justify-content: center;
            align-items: center;
            @include responsive(600px) {
                margin-top: 1.5em;
            }

            img {
                object-fit: cover;
                max-width: 18.75em;
                height: auto;
            }
        }

        &__selection {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.25em;

            @include responsive(600px) {
                margin-top: 1.5em;
            }

            div {
                height: 0.5em;
                width: 3.125em;
                background-color: #FFFFFF;
                border-radius: 15px;
                cursor: pointer;
            }

            .current-image {
                background-color: $latus-color-maximum;
            }
        }
    }
    
    .modal-content {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 1.875em;

        @include responsive($tablet) {
            padding: 0 1em;
        }
        @include responsive(600px) {
            width: 100%
        }

        h1, p {
            font-family: 'Poppins', 'Arial';
        }

        h1 {
            font-size: 2.5em;
            margin: 2em 0;

            @include responsive(900px) {
                font-size: 2.125em;
            }
            @include responsive($tablet) {
                font-size: 1.8em;
                margin: 1.5em 0;
            }
            @include responsive(600px) {
                margin: 1.2em 0;
            }
        }

        &__body {
            display: flex;
            flex-direction: column;
            gap: 2em;

            @include responsive($tablet) {
                gap: 1.5em;
            }

            p {
                text-align: justify;
            }

            div {
                display: flex;
                align-items: center;
                p {
                    margin-left: auto;
                    font-size: 2em;
                    font-family: 'ADLaMDisplay', 'Arial';
                }
            }
        }

        &__footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: auto;
            margin-bottom: 3.75em;
            width: 100%;

            @include responsive(600px) {
                margin: 1.5em 0;
            }

            p {
                margin-bottom: 1.125em;
                font-size: 0.875em;
                width: 100%;
            }

            app-redirect-button {
                width: 100%;
            }
        }
    }
}

.overlay {
    background-color: #EBEBEB;
    opacity: 0.5;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 9;
}