section {
    background-color: #FFFFFF;
    border-radius: 30px;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
}

.overlay {
    background-color: #EBEBEB;
    opacity: 0.5;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 9;
}