<div class="container-page">
    <header>
        <img src="assets/png/logo-name.png" alt="Latus">
    </header>

    <main>
        <div class="hero">
            <p>Catálogo <span>> Todos os produtos</span></p>
            <div class="hero-content">
                <h1>"EXPLORE SUA ESSÊNCIA"</h1>
            </div>
        </div>

        <div class="product-content">
            
        </div>
    </main>

    <footer>
        <h1>MAIS SOBRE NÓS</h1>
        <p>A Latus é um espaço onde a criatividade e a autoexpressão se encontram. Nossa coleção de camisetas é projetada para inspirar você a explorar sua essência e mostrar ao mundo quem você é.</p>
        <div></div>
        <div>© 2025 Latus. Todos os direitos reservados.</div>
    </footer>
</div>