<div class="container-page">
    <header>
        <img src="assets/png/logo-name.png" alt="Latus">
    </header>

    <main>
        <div class="hero">
            <p>Catálogo <span>> Todos os produtos</span></p>
            <div class="hero-content bg-image">
                <h1>"EXPLORE SUA ESSÊNCIA"</h1>
            </div>
        </div>

        <div class="product-content">
            <div>
                <p>Filtros aplicados:</p>
            </div>
            <div class="product-content__catalog">
                @for (product of products; track product.id) {
                    <app-product-card
                        [title]="product.name"
                        [price]="product.price"
                        [sizes]="product.sizes"
                        [imageRoot]="product.images[0]"
                    ></app-product-card>
                }
            </div>
        </div>
    </main>

    <footer class="bg-image">
        <div class="redirect-content">
            <h1>MAIS SOBRE NÓS</h1>
            <div>
                <p>A Latus é um espaço onde a criatividade e a autoexpressão se encontram. Nossa coleção de camisetas é projetada para inspirar você a explorar sua essência e mostrar ao mundo quem você é.</p>
                <div class="button-content">
                    <app-redirect-button
                        iconRoot="assets/png/whatsapp.png"
                    ></app-redirect-button>
                    <app-redirect-button
                        text="Instagram"
                        iconRoot="assets/png/instagram.png"
                    ></app-redirect-button>
                </div>
            </div>
        </div>
        <div class="copy-content">
            <p>
                &copy; 2025 Latus. Todos os direitos reservados.
            </p>
        </div>
    </footer>
</div>