@import "./styles/variables.scss";
@import 'ngx-toastr/toastr';

@font-face {
    font-family: "ADLaMDisplay";
    src: url("/assets/fonts/ADLaMDisplay/ADLaMDisplay-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ADLaMDisplay", "Arial";
}

html, body{
    height: 100vh;
    min-width: 300px;
    color: $primary-color;
}